<section class="jumbotron text-center">
  <div class="container">
    <h1>ESTUDE COM O MAIOR DO PAÍS</h1>
    <p class="lead text-muted">Há mais de uma década acumulando aprovações.</p>
  </div>
</section>